<h1>Desencriptar</h1>

<form id="chat-form" method="POST" action="/decrypt">
    <input type="text" name="text" placeholder="Escribe un mensaje a desencriptar..." required>
    <button type="submit">Enviar</button>
</form>
