<h1>Mails</h1>

<form id="chat-form" method="POST" action="/mail">
    <input type="text" name="mail" placeholder="direccion de correo" required>
    <input type="text" name="asunto" placeholder="asunto" required>
    <input type="text" name="contenido" placeholder="contenido" required>
    <button type="submit">Enviar</button>
</form>
